body {
	width: 100;
	background-image: url(../img/weather-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#weather-panel {
	width: 80%;
	height: auto;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin-top: 60px;
}

h1 {
	padding: 10px;
	color: white !important;
	font-family: 'Oswald', sans-serif !important;
	font-size: 60px !important;
	text-decoration: underline;
}

p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px;
}

.btn-lg {
	margin-bottom: 20px;
}